<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js" defer></script>
    <!-- <link rel="stylesheet" href="/css/normalise.css"> -->
</head>

<body>
    <header>
        <h1>InvManage</h1>
        <div class="iconMasterDiv">
            <!-- <div class="searchItem">
                <img src="/images/search.svg" alt="Search Items" title="Search">
            </div>   -->
            <div class="addItem">
                <img title="Add" src="/images/add.svg" alt="Add option">
            </div>
            <div class="addDropDownMenu">
                <ul>
                    <li class="addLinks"><a href="/add/item">Item</a></li>
                    <li class="addLinks"><a href="/add/category">Category</a></li>
                    <li class="addLinks"><a href="/add/vendor">Vendor</a></li>
                </ul>
            </div>

        </div>
    </header>
    <main>
        <table class="inventoryTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>MRP</th>
                    <th>Category</th>
                    <th>Vendor ID</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <%items.map((item)=>{%>
                    <tr>
                        <td>
                            <%=item.id%>
                        </td>
                        <td>
                            <%=item.name%>
                        </td>
                        <td>
                            <%=item.mrp+` ₹`%>
                        </td>
                        <td>
                            <%=item.category%>
                        </td>
                        <td>
                            <%=(item.vendorid).toUpperCase()%>
                        </td>
                        <td>
                            <%=item.quantity%>
                        </td>
                        <td><a class="itemDetails" href="/details/item/<%=item.id%>">More</a></td>
                    </tr>
                    <%})%>
            </tbody>
        </table>
    </main>
</body>

</html>